<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Domki dla zwierząt</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://kit.fontawesome.com/df88dd0bec.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <h2 class="info">Strona w trakcie modernizacji</h2>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-paw"></i> Najlepsze domki dla zwierząt</a>  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-5">
            <a class="nav-link active" aria-current="page" href="#">O nas</a>
          </li>
          <li class="nav-item mx-5">
            <a class="nav-link" href="#">Oferta</a>
          </li>
          <li class="nav-item mx-5">
            <a class="nav-link" href="#">Cennik</a>
          </li>
          <li class="nav-item mx-5">
            <a class="nav-link" href="#">Kontakt</a>
          </li>           
        </ul>      
      </div>
    </div>
  </nav>
  <main>
    <div class="container-fluid">
      <div class="items row mt-5 text-center">
        <div class=" col-md-3">
          <ul class="text"><b>U nas znajdziesz</b>
            <li v-for="item in items">{{item}}</li>  
            </ul>
            <ul class="text"><b>Mamy domki<br>zaprojektowane dla różnych zwierząt<br></b>
            <li v-for="item2 in items2">{{item2}}</li>
            </ul>
        </div>
        <div class="col-6 col-sm-2 mx-auto"><img :src="images.image1" /></div>
        <div class="col-6 col-sm-2 mx-auto "><img :src="images.image2" /></div>
        <div class="col-6 col-sm-2 mx-auto"><img :src="images.image3" /></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="app row mt-5 text-center">
        <div class="col-md-3">
          <label for="search">Wyszukaj<br><input type="search" v-model="searchTerm"></label><br><br>
            <table class="center">
              <thead>
                <tr>
                  <th @click="sortProducts('name')">Nazwa<i class="fa-solid fa-sort"></i></th>
                  <th @click="sortProducts('category')">Kategoria<i class="fa-solid fa-sort"></i></th>
                  <th @click="sortProducts('price')">Cena<i class="fa-solid fa-sort"></i></th>         
                </tr>
              </thead>
              <tbody>
                <tr v-for="product in filteredProducts" :key="product.id">
                  <td>{{ product.name }}</td>
                  <td>{{ product.category }}</td>
                  <td>{{ product.price }} zł</td>
                </tr>
              </tbody>
            </table>
        </div>
          <div class="col-6 col-sm-2 mx-auto"><img :src="images.image4" /></div>
          <div class="col-6 col-sm-2 mx-auto"><img :src="images.image5" /></div>
          <div class="col-6 col-sm-2 mx-auto"><img :src="images.image6" /></div>
      </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="calculate col-lg d-inline">
          <label for="amount">Kwota:</label>
          <input type="number" id="amount" v-model="amount">
          <label for="from">Mam:</label>
          <select id="from" v-model="fromCurrency">
            <option v-for="currency in currencies" :value="currency.code" :key="currency.code">
              {{ currency.name }}
            </option>
          </select>
          <label for="to">Chcę otrzymać:</label>
          <select id="to" v-model="toCurrency">
            <option v-for="currency in currencies" :value="currency.code" :key="currency.code">
              {{ currency.name }}
            </option>
          </select>
          <button class="btnCalculat" @click="convert">Przelicz</button> Wynik: {{ result }}
      </div>
      </div>
    </div>
    </div>
    <section class="new">
      <h2 class="wnew__title">Nowości</h2>
      <div class="wrapper__new">
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość1.jpeg" alt="nowość1"></a>
        </div>
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość2.jpg" alt="nowość2"></a>
        </div>
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość3.jpg" alt="nowość3"></a>
        </div>
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość4.jpg" alt="nowość4"></a>
        </div>
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość5.jpg" alt="nowość5"></a>
        </div>
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość6.jpg" alt="nowość6"></a>
        </div>
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość7.jpg" alt="nowość7"></a>
        </div>
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość1.jpeg" alt="nowość1"></a>
        </div>
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość2.jpg" alt="nowość2"></a>
        </div>
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość3.jpg" alt="nowość3"></a>
        </div>
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość4.jpg" alt="nowość4"></a>
        </div>
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość5.jpg" alt="nowość5"></a>
        </div>
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość6.jpg" alt="nowość6"></a>
        </div>
        <div class="img__wrap">
          <a href="#"><img src="./images/nowość7.jpg" alt="nowość7"></a>
        </div>
      </div>
    </section>
    <footer class="bg-light mt-5 container-fluid">

        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Zamówienia</th>
              <th scope="col">Konto</th>
              <th scope="col">Informacje</th>
              <th scope="col">Regulaminy</th> 
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">Status zamówienia</td>
              <td>Zarejestruj się jako hurtownik</td>
              <td>Newsletter</td>
              <td>Wysyłka</td>
            </tr>
            <tr>
              <td scope="row">Śledzenie przesyłki</td>
              <td>Zarejestruj się</td>
              <td>Polityka prywatności</td>
              <td>Sposoby płatności i prowizje</td>
            </tr>
            <tr>
              <td scope="row">Chcę zareklamować produkt</td>
              <td colspan="2">Koszyk</td>
              <td>Odstąpienie od umowy</td>
            </tr>
            <tr>
              <td scope="row">Chcę zwrócić produkt</td>
              <td colspan="2">Listy zakupowe</td>
              <td>Kariera</td>
            </tr>
            <tr>
              <td scope="row">Chcę wymienić produkt</td>
              <td colspan="2">Historia transakcji</td>
              <td>Rabaty</td>
            </tr>
          </tbody>
        </table>
    </footer>

   <!--<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./images/nowość1.jpeg" alt="nowość1">
        </div>
        <div class="carousel-item">
          <img src="./images/nowość2.jpg" alt="nowość2">
        </div>
        <div class="carousel-item">
          <img src="./images/nowość3.jpg" alt="nowość3">
        </div>
        <div class="carousel-item">
          <img src="./images/nowość4.jpg" alt="nowość4">
        </div>
        <div class="carousel-item">
          <img src="./images/nowość5.jpg" alt="nowość5">
        </div>
        <div class="carousel-item">
          <img src="./images/nowość6.jpg" alt="nowość6">
        </div>
        <div class="carousel-item">
          <img src="./images/nowość7.jpg" alt="nowość7">
        </div>
      </div>
    </div>
   --> 
  </main>

<!--<div class="row">
        <div class="app col-md-3 offset-md-9">
          <div class="calculate col-lg">
            <label for="amount">Kwota:</label>
            <input type="number" id="amount" v-model="amount">
          <div>
            <label for="from">Mam:</label>
            <select id="from" v-model="fromCurrency">
              <option v-for="currency in currencies" :value="currency.code" :key="currency.code">
                {{ currency.name }}
              </option>
            </select>
          </div>
          <div>
            <label for="to">Chcę otrzymać:</label>
            <select id="to" v-model="toCurrency">
              <option v-for="currency in currencies" :value="currency.code" :key="currency.code">
                {{ currency.name }}
              </option>
            </select>
          </div>
          <div>
           <br><button class="btnCalculat" @click="convert">Przelicz</button>
          </div>
          <div>
            <p class="result">Wynik: {{ result }}</p>
        </div>
        </div>
        </div>
      </div>
    </div>-->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="js.js"></script>
</body>
</html>


