body{
	margin: 0;
	padding: 0;
	background-image: url(./images/fon..png);
}

.info{
	color: red;
}

img{
	max-width: 100%;
}

img:hover{
	border: #989595 solid;
	
}

  @keyframes scroll {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(calc(-275px * 7));
	}
  }
  
.new {
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	width: auto;
}
  
.wrapper__new {
animation: scroll 15s linear infinite;
display: flex;
width: calc(275px * 14);
}
  
.img__wrap {
display: flex;
margin-right: 20px; 
border: #a3a0a0 solid;
}

.new h2{
text-align: center;
}

.items ul{
list-style:none;	
}


